@font-face {
  font-family: OpenSans-Bold;
  src: url(font/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(font/Open_Sans/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(font/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: calibril;
  src: url(font/calibril.ttf);
}

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}


body {
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  font-family: OpenSans-Regular;
  }

a {
  text-decoration: none;
  color: black;

}

/* верхний слайдер */

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 15%;
}

.slider {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 70px;
}

.slider__items {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  /* устанавливаем элементу ширину, равную 100% */
  width: 100%;
  overflow: hidden;
}

.slider__item {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  /* отключаем по умолчанию отображение всех слайдов */
  display: none;
  /* устанавливаем элементу ширину, равную 100% */
  width: 100%;
  /* длительность анимации трансформации */
  transition: transform 0.6s ease;
  /* не показывать обратную сторону трансформируемого элемента */
  backface-visibility: hidden;
}

.slider__item_active,
.slider__item_next,
.slider__item_prev {
  /* отображаем слайд, если он имеет один из этих классов */
  display: block;
}

.slider__item_next,
.slider__item_prev {
  /* устанавливаем абсолютное позиционирование для элемента, на который будет сменяться слайд (на время трансформации) */
  position: absolute;
  /* устанавливаем положение элемента, т.е. координату top */
  top: 0;
}

.slider__item_next.slider__item_left,
.slider__item_prev.slider__item_right {
  /* сдвигаем элемент на 0 по горизонтали */
  transform: translateX(0);
}

.slider__item_next,
.slider__item_right.slider__item_active {
  /* сдвигаем элемент на 100% по горизонтали */
  transform: translateX(100%);
}

.slider__item_prev,
.slider__item_left.slider__item_active {
  /* сдвигаем элемент на -100% по горизонтали */
  transform: translateX(-100%);
}

/* элементы управления (назад и вперёд) слайдером */

.slider__control {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* индикаторы слайдера */

.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.slider__indicator {
  position: relative;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.slider__indicator::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.slider__indicator::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.slider__indicator_active {
  background-color: #fff;
}

.slider__item img {
  display: inline-block;
  height: auto;
  width: 100%;

}

.slider__item {}



.slider__item {

  overflow: hidden;
}


.slider__item_img {
  flex: 0 0 100px;
  max-width: 100px;

}

@media (min-width: 576px) {
  /* .slider__item {
    height: 70px;
  } */

  .slider__item_inner {
    flex-direction: row;
  }

  .slider__item_testimonial {
    margin-left: 15px;
  }

  .slider__item_img {
    flex: 0 0 150px;
    max-width: 150px;
    height: 200px;

  }

  .slider__item_testimonial {
    text-align: left;
  }

 

}

/*heder*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width:768px){
  .header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-menu {
  width: 100% !important;
  display: flex;
  flex-direction:row;
  justify-content: inherit;
 align-items: center;
}
.main-menu__list {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}
.link {text-decoration: none;}

.item{
  font-size: 80%;
  display: inline;
  padding: 1%;
}
.logo img{width: 90% !important}
.logo{ width: 14%}

.more_div {
  margin: 0 !important;
}
.t-item{
  display: none;
}
.slid{
  width: 75% !important;
}
 
.prog {
  flex-direction: column;
  margin-top: 2%;
}
.programs__list {
  font-size: 70%;
}

.slider2{
  display: none !important;
}

/* .slide{
  display: none;
} */

.owl-carousel{
  display: none;

}
.index {
  font-size: 100% !important;
  font-weight: 900;
  text-align: center;
text-align: center;}

.about-body-text p {
  font-size: 100% !important;
}

.btn {
  width: 40% !important;
}

.consul{
  display: none;
}

 /* footer */
 .footer{display: flex;
  flex-direction: row;
 justify-content: space-between;}
 .footer__text {
  font-size: 70% !important;
 }
}

@media (max-width:600px){
  .header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main_menu__list{
  font-size: 70%;
}
.item{
  font-size: 70%;
}

.slid{
  width: 65% !important;
}

.text{
  font-size: 65%;
}
.programs__list{
  font-size: 65%;
}
.about {
    display: flex !important;
    flex-direction: column !important;
}

.about-headr {
  
  margin-top: 8% !important;
  
}
.about-headr a{
  text-decoration: none;
  color: #2c2c2c;
  font-size: 70% !important;
}
.about-column{
  display:flex;
  flex-direction: column !important;
}
.Reviews-text {
  margin-top: 0 !important;
  font-size: 40px;
  font-family: OpenSans-Bold;
  text-align: center;
}
.Reviews-text a {
  font-size: 70% !important;
}
.step{
  text-decoration: none;
  color: #2c2c2c;
  font-size: 180% !important;
}
.steps{
  display: flex;
  flex-direction: column !important;
}
.consul{
  display: none;
}
.gallery-text {
 margin-bottom: 0 !important;
}
.gallery-text a {
  text-decoration: none;
  color: #2c2c2c;
  font-size: 70% !important;
}
.photo_gallery {
  margin: 6% !important;
}
.team {
  margin-top: 0px !important;
}
.footer{display: flex;
  flex-direction: row;
justify-content: space-between;}
.footer__text {
 font-size: 50% !important;
}
.footer__social-title{
  font-size: 75% !important;
}
.footer__phones-item{
  font-size: 70% !important;
}
.footer__phones-button{
  font-size: 70% !important;
  padding: 5px 7px 5px 7px !important;
}
}

/* main menu */
.main-menu{
  width: 20%
}
.item {
  list-style-type: none;
  line-height: 1.8;
  font-family: OpenSans-Bold;
}
.item a {
  color: #464242;
  text-decoration: none;
}
.more_div {
  margin-top: 9px;
  margin-right: 110px;
  padding-top: 9px;
  border-top: 1px solid #dfe2e8;
}
.t-item{
  list-style-type: none;
  color: #b1b4bb;
}


.main_content{
  display: flex;
  flex-direction: row;
}

/*slider big*/

.slid {
  /* width: 640px;
  position: relative;
  padding-top: 35%;
  margin-top: 2%;
  margin-left: 10%;*/

  width: 640px;
  position: relative;

  margin: 10px 10px 10px 20px;
  /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);*/
}



.slid>img {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
}

.slid input[name='slide_switch'] {
  display: none;
}

.slid label {
  margin: 18px 9px 0 18px;
  float: left;
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0.6;
  text-align: center;
}

.slid label img {
  display: block;
}


.slid input[name='slide_switch']:checked+label {
  border-color: #666;
  opacity: 1;
}

.slid input[name='slide_switch']~img {
  opacity: 0;
  transform: scale(1.1);
}

.slid input[name='slide_switch']:checked+label+img {
  opacity: 1;
  transform: scale(1);
}

/*.main_content {
  width: 79%;
  float: left;
  display: flex;
  flex-direction: row;
}*/

/*schedule*/

.prog{

  flex-direction: column;
}

.index-page__programms {

  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  margin-top: 4%;
}

.index {
  color: #464242;
  font-family: OpenSans-Bold;
  font-size: 130%;
  font-weight: 900;
  text-align: center;
}

.index-page__programms a{
  text-decoration: none;
}

.price {
  font-size: 75%;
}

.programs__list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.programs__list a {
  text-decoration: none;
}

.programs__list-item {
  display: flex;
  flex-direction: row;
}

.date {
  width: 37%;
}

.day {
  font-family: OpenSans-Bold;
  font-size: 270%;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.month {
  font-family: OpenSans-Bold;
  font-size: 110%;
  color: #000;
  text-align: center;
}

.programs__text-price-wrapper {
  margin-top: 10%;
  margin-left: 5%;
  color: #464242;
  font-family: OpenSans-Bold;
}


.about{
  display: flex;
  flex-direction: column;
}


.about-headr {
  font-size: 40px;
  font-family: OpenSans-Bold;
  color: #2c2c2c;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.about-headr a{
  text-decoration: none;
  color: #2c2c2c;
}

.about-column{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about-body-colmn1 {
  margin-top: 5%;
}

.circle {
  display: flex;
  justify-content: center;
}

.about-body-text {
  color: #2c2c2c;
  text-align: center;

}

.about-body-text p {
  color: #2c2c2c;
  font-size: 150%;
}

.Reviews {
 
  display: flex;
  flex-direction: column;
  margin-top: -7%;
}


.Reviews-text  {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-bottom: 2%;
}

.Reviews-text a{
  text-decoration: none;
  color: #2c2c2c;
  font-size: 40px;
  font-family: OpenSans-Bold;
  display: flex;
  justify-content: center;
 
}



.steps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 35px;
}

.about-column{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.consul {
  background: #000;
  width: 100%;
  height: 260px;
  background-position: center center;

}

.forms {
  width: 100%;
  text-align: center;
  padding-top: 2%;
}

.consul-text {
  font-size: 30px;
  color: white;
  text-align: center;
}

form {
  padding-top: 30px;
  padding-bottom: 20px;
  width:100%;
  margin: 0;
}

form input{
  width: 202px;
  height: 20px;
}

input[type='text'] { font-family: OpenSans-Regular; }

.btn{
width: 23%;
color: white;
background: red;
font-family: calibril;
font-weight: 900;
font-size: 150%;
}

.cns{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.consul-button {
  width: 25%;
  font-size: 180%;
  background-color: #ff1616;
  color: white;
  text-align: center;
  padding-top: 0.2%;


  border-radius: 10px 10px;
}


.konfig {
  width: 250px;

  height: 40px;
  margin-left: 25px;
  padding-top: 8px;
  text-align: center;
}

.konfig-text {
  text-align: center;
  color: white;
  width: 100%;
  font-size: 99%;
}

.img {
  width: 50px;
  float: left;
}

.gallery {
  height: 280px;
}

.gallery-text {
  text-align: center;
  font-size: 40px;
  font-family: OpenSans-Bold;
  color: #2c2c2c;
  margin-top: 5%;
  margin-bottom: 5%;
}

.gallery-text a{
  text-decoration: none;
  color: #2c2c2c
}



.photo_gallery {
  margin-left: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.owl-carousel img{
  width: 30%;
}

.team{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team a{
  text-decoration: none;
  color: #2c2c2c
}

.team p {
  text-align: center;
  font-size: 40px;
  font-family: OpenSans-Bold;
  color: #2c2c2c;
  margin-top: 12%;
}

.team img{
  width: 90%;
  margin-top: 5%;
}
.smooth{width: 6%;
  transform: rotate(-90deg);
scroll-behavior: smooth;
margin-top: 5%;
z-index: 101;
top: -1px;
position: sticky;}

/* footer */

footer {
background: #f4f4f4;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: baseline;
}

.footer__text {
  font-size: 12px;
  color: #7d7d7d;
}

.footer__phones-item {
  font-size: 14px;
  margin: 0 0 4px 0
}

 .link {
  display: inline-block;
  vertical-align: top;
  color: #7d7d7d
}

.footer__phones-button {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 13px;
  border-radius: 10px;
  border: 3px solid #b5b5b5;
  color: #7d7d7d;
  padding: 7px 10px 7px 10px;
  margin: 5px 0 15px 0
}
.footer__social-title{

  color: #7d7d7d;
  font-size: 110%;
  font-weight: 600;
}

.footer__social {

  margin-top: 11px ;
}
.footer__social-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 27px;
}

.footer__social-item {
  margin-right: 5%;
  margin-left: 5%;
}

.vk {
  
  height: 23px;
  /* background: url(img/footer/vk.svg) center 0 no-repeat; */
  background-size: auto 46px;
}
.vk img{
  width: 300% !important;
}

.footer__social-item img{
  width: 200%;
}

.yt {
 
  height: 23px;
  margin-left: 0 !important;
  background-size: auto 46px
}

.in {

  height: 23px;
  
  background-size: auto 46px
}


/*Слайдер owl-carousel*/
.owl-dots{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-bottom:20px;
	transition: background-color .25s;

}
.owl-dots button.owl-dot{
	display: inline-block;
	padding: 0 10px !important;
	opacity: .75;
}
.owl-dots button.owl-dot:focus{
	outline: none;
}
/* shariki */
.owl-dots button.owl-dot span{
	display: inline-block;
	width: 7px;
	height: 7px;
	background: rgb(5, 5, 5);
	border-radius:50%;
}
.owl-dots button.owl-dot.active span{
	background:#03a9f4;
}
/*шарики*/
/* .owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
	position: absolute;
	top:50%;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 100%;
	opacity: 0.75;
	text-align: center;
	transition: opacity .25s;
}
.owl-carousel .owl-nav button.owl-prev{
	left: 25px;
}
.owl-carousel .owl-nav button.owl-next{
	right: 25px;
}
.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus{
	outline: none;
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover{
	opacity: .8;
	background-color: rgb(34, 230, 236);

} */

/* .owl-carousel .owl-nav button.owl-prev i,
.owl-carousel .owl-nav button.owl-next i{
	color:#03a9f4;
	font-size:35px;
	line-height:40px;
} */
.slide{
    margin: 2px;
    text-align: center;
    font-weight: 600;
    position: relative;
}
.slid .veil{
        background-color: rgba(0,0,0,0.0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
}
    /* .slid .visible{
         background-color: rgba(0,0,0,0);
    } */
    /*Всплывающие окна*/
.lp-modals{
	display: none;
}
.lp-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.pc{text-align: center;
  width: 100%;}

.ps{
  text-align: center;
  width: 70%;}
.ps p{
    font-family: calibril;
    font-size: 22px;
    font-weight: 700;
}


@media (max-width: 480px){
  .item {
    font-size: 50% !important;
}

.index {
  font-size: 80% !important;}

  .programs__list {
    font-size: 45%;
}

.slid {
  width: 55% !important;
}

.about-headr {
  margin-top: 0 !important;
}

.about-headr a {
  font-size: 60% !important;
}

.about-column {
  display: flex;
  align-items: center;
}

.about-body-colmn1 {
  width: 50%;
  margin-top: 0 !important;
}
.Reviews-text a {
  font-size: 60% !important;
}
.step {
  font-size: 150% !important;
  margin-top: 10% !important;
}
.steps {
  display: flex;
  flex-direction: column !important;
  align-items: center;
}

.photo_gallery {
  margin: 0% 30% !important;}
  .team a {
    font-size: 60%;
}
.team p {
  margin-top: 0%;
}

.ps {
  text-align: center;
  width: 100%;
}

.team {
  margin-bottom: 5%;
}

.footer__text {
  font-size: 40% !important;
}
  .owl-nav{
    display: none;
  }
  .footer__social-title {
    font-size: 55% !important;
}

.footer__social-navigation {
  margin-top: 5%;
}
}

@media (max-width: 320px){

.item {
    font-size: 40% !important;
}

.footer__phones-button {
    font-size: 30% !important;
    padding: 2px 2px 2px 2px !important;
}
.footer__phones-item {
  font-size: 30% !important;
}
.footer__social-title {
  font-size: 25% !important;
}
.footer__text {
  font-size: 30% !important;
}
}

.slide1{
  display: none;
}

.slider4{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 3.5%;
}
.container {
  position: relative;
  width: 40%;
  height: 0;
  padding-bottom: 56.25%;
  }
  .container iframe, .container object, .container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 30%;
  }
  .move{
    margin-top: -30%;
  }

  .vk img{
    width: 150% !important;
  }
  
  .footer__social-item img{
    width: 100% !important ;}}