@font-face {
    font-family: OpenSans-Bold;
    src: url(font/Open_Sans/OpenSans-Bold.ttf);
  }
  
   @font-face {
    font-family: calibril;
    src: url(font/calibril.ttf);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    margin-left: auto;
    margin-right: auto; 
    width: 99%;
    }
  
  a {
    text-decoration: none;
  
  }
  
  /* верхний слайдер */

  .lp-modals{
    display: none;
  }
  
  .lp-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
  }
  
  .pc{text-align: center;
    width: 100%;}
  
  
    /* main menu */
.main-menu {
    width: 20%;
    margin-left: 3%;
  }
  
  .item {
    list-style-type: none;
    line-height: 1.8;
    font-family: OpenSans-Bold;
  }
  
  .item a {
    color: #464242;
  }
  
.content{max-height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.crumbs{
  margin: 20px;
}
.crumbs p{
  font-size: 14px;
  color: #867777;
  }

.crumbs a{
  color: #867777;
  text-decoration: none;

}

.box-note{width: 100%;
    display: -webkit-flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-around;
}

.headline {
width: 26.5%;
margin: 20px auto;
padding: 15px;
position: relative; /*необходимо для заголовка 4*/
z-index: 0; /* необходимо для заголовка 4*/		
border: 1px solid #c7d0cc;
/*border: 2px solid rgba(52, 201, 36, .77);*/
border-radius: 15px;
background: #FAFAFA;
background-clip: padding-box;
-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .5);
-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .5);
box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}


.catheaders {
    color: #fff;
    font-family: calibril, sans-serif;
    font-size: 120%;
    font-weight: 400;
    text-align: center;
    position: relative;
    line-height: 1.6em;
    margin: -24px -23px 0px;
    text-decoration: none;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.headline ul li a { 
    display:block; 
    text-decoration:none; 
    color:#505050;    
    background-color:rgb(223, 72, 72); 
    line-height:15px;
    border:1px 1px 0px 0px solid #d9d9d9; 
    padding:0 0 10px 10px; 
    cursor:pointer;
    font-size: 70%;
 
 }
 .headline li{  list-style-type: none;} 
 .headline ul li a:hover {
 
 	/*background: #34C924;
		margin-right: 5px;
		color: #fff !important; 
		
		font-size: 14px;
		border-color: #d9d9d9 #d9d9d9 #bfbfbf #d9d9d9; 
		/* text-shadow: 0 1px rgba(255, 255, 255, 1);
		background: -moz-linear-gradient(top,  #3caa3c 0%, #34C924 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#34C924));
		background: -webkit-linear-gradient(top,  #3caa3c 0%,#34C924 100%);
		background: -o-linear-gradient(top,  #3caa3c 0%,#34C924 100%);
		background: -ms-linear-gradient(top,  #3caa3c 0%,#34C924 100%);
		background: linear-gradient(to bottom,  #3caa3c 0%,#34C924 100%);*/
    color: #000;
    font-size: 60%;
    font-weight: 900;
 
  /* font-weight: bolder;*/
 
  }

.headline ul li a strong { margin-right:10px; }

  
    
.catheaders {
    border-radius: 15px 15px 0px 0px;
    position: relative;
    margin-left: -22px;
    margin-right: -22px;
    padding: 20px;
    /* border: 1px solid #C0C0C0; */
    background: gray;
    box-shadow: 0 -1px 0 rgba(255,255,255,.8) inset;
    text-shadow: 0 1px 0 #505050;
}

.catheaders:before, .catheaders:after {
    position: absolute;
    left: 0;
    bottom: -6px;
    content: '';
    border-top: 6px solid #000;
    border-left: 6px solid transparent;
}
.new-style  {
	border-bottom: 1px dashed #aaa;
	margin: 0 -15px 15px -22px;
	color: #000;
	
	line-height: 20px;
	margin-top: 25px !important;

}
.new-style  {
	margin: 1%;
	
	border-bottom: 0px;
	text-transform: uppercase; 
}

 .bull-list1{
margin: 20px; 
 }
.new-style1  {
    font-size: 22px !important;
    background: linear-gradient(to top, #be9a6f, #c2ccd7);
}

.new-style2  {
  font-size: 22px !important;
  background: linear-gradient(to top, #f0ad4c, #f57466);
}

.new-style3  {
  font-size: 22px !important;
  background: linear-gradient(to top, #594edb, #e3e6e9);
}

.list {
  color: #000;
}





/* footer */
footer {
  background: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
 
  }
  
  .footer__text {
    font-size: 12px;
    color: #7d7d7d;
  }
  
  .footer__phones-item {
    font-size: 14px;
    margin: 0 0 4px 0
  }
  
   .link {
    display: inline-block;
    vertical-align: top;
    color: #7d7d7d
  }
  
  .footer__phones-button {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 13px;
    border-radius: 10px;
    border: 3px solid #b5b5b5;
    color: #7d7d7d;
    padding: 7px 10px 7px 10px;
    margin: 5px 0 15px 0
  }
  .footer__social-title{
    color:  #7d7d7d;
  }
  
  .footer__social {
   
    margin-top: 11px ;
  }
  .footer__social-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 27px;
  }
  
  .footer__social-item {
    margin-right: 5%;
    margin-left: 5%;
  }
  
  .vk {
   
    height: 23px;
    /* background: url(http://darina/img/footer/vk.svg) center 0 no-repeat; */
    background-size: auto 46px;
  }

  .vk img{
    width: 150% !important;
  }
  
  .footer__social-item img{
    width: 100%;}
  
  .yt {
    margin-left: 0 !important;
    height: 23px;
    /* background: url(img/footer/yt.svg) center 0 no-repeat; */
    background-size: auto 46px
  }
  
  .in {
  
    height: 23px;
    /* background: url(img/footer/in.svg) center 0 no-repeat; */
    background-size: auto 46px
  }
  

/* seo text */
.seo-text {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    font-family: Museo Sans\ 300, Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9px;
    line-height: 13px;
    color: #969696;
    margin: 30px 0 30px 0
}

.seo-text .seo-text__p:nth-child(2) {
    margin-top: 15px
}

@media (max-width:768px){
  .box-note {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  width: 80%;
  align-content: center !important;
}
.headline{
  width: 55%;
}
.new-style1 {
  font-size: 130% !important;
  font-weight: 800;
  line-height: 150%;
}

.new-style2 {
  font-size: 130% !important;
  font-weight: 800;
  line-height: 150%;
}

.new-style3 {
  font-size: 130% !important;
  font-weight: 800;
  line-height: 150%;
}


footer {
  background: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
}
}


@media (max-width: 480px){
.new-style1 {
    font-size: 90% !important;
    font-weight: 800;
    line-height: 150%;}
    .new-style2 {
      font-size: 90% !important;
      font-weight: 800;
      line-height: 150%;}
      .new-style3 {
        font-size: 90% !important;
        font-weight: 800;
        line-height: 150%;}

.headline {
    width: 55%;
}
.footer__text {
  font-size: 40% !important;
}
.footer__social-title {
  font-size: 55% !important;
}
.footer__social-navigation {
  margin-top: 5%;
}
}

@media (max-width: 320px){

  .item {
      font-size: 40% !important;
  }
  
  .footer__phones-button {
      font-size: 30% !important;
      padding: 2px 2px 2px 2px !important;
  }
  .footer__phones-item {
    font-size: 30% !important;
  }
  .footer__social-title {
    font-size: 25% !important;
  }
  .footer__text {
    font-size: 30% !important;
  }
  }