header{
	position: fixed;
	left:0;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
    color: chartreuse;
    text-align: center;
	width: 100%;
	z-index: 99999;	
}
#slideshow{
    margin-top: 50px;
}
.container{
    width: 100%;
}
.lp-content{
	min-height: 500px;
	border: 1px solid red;
    width: 100%;
	/*padding: 100px 0;*/
}

footer{
	background: #03a9f4;
	padding: 20px;
	color:#fff;
	text-align: center;
}
footer p{
	margin-bottom: 0;
}


